//colors
$white: #ffffff;
$grayLight: #cccccc;
$gray: #999999;
$darkGray: #444444;
$lightBlack: #151515;
$black: #000000;
$red: #ff0020;

//size
$maxRegionRowWidth: 700px;
$minRegionRowWidth: 120px;
$regionRowHeight: 48px;
$modalWidth: 700px;

$drawerCloseWidth: 57px;
$drawerOpenWidth: 160px;
$drawerHeaderHeight: 64px;


